


.upper{
    background-color: teal;
    height: 65px;
    width: 500px;
    margin: 0 auto;

}

.icon{
    width: 60px;
    padding: 30px 20px;
    display: absolute;
    filter: invert(1);
}

.lower{
    background-color: rgb(156, 233, 225);
    height: 160px;
    width: 500px;
    margin: 0 auto;
    margin-top: -22px;
   
}

.name{
    padding: 20px;
    margin-bottom: -20px;
    display: flex;

}
.location{
    size-adjust:15px;
    height: 15px;
    margin-left: 20px;
    display: flex;
    margin-top: -20px;
    
}

.city{
    margin-left: 45px;
    margin-top: -15px;
}

.cred1, .cred2{
    margin-left: 20px;
    margin-bottom: -18px;
    padding-bottom: 5px;
    
}
.icon1 {
    size-adjust: 15px;
    height: 15px;
    margin: 0 auto;
}

.cred1{
    margin-top: -10px;
}

.footer{
margin-left: 20px; 
margin-top: 25px;

   
}